:root {
  --bg-color: #efefef;
  --btn-hover-color: #e1dfff;
  --form-btn-color: #e1dfff;
  --border-color: #d6d6d7;
  --btn-disabled-color: #d6d6d7;
  --alert-text-color-danger: #800000;
  --alert-background-color-danger: #ffb2ae;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  /* 990px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
}

.header__container {
  width: 990px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-size: 20px;
}

.header__logo:hover {
  cursor: pointer;
  font-size: 20px;
}

.header__form {
  height: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.form__search {
  height: auto;
  width: 100%;
  padding-left: 10px;
  border: 1px solid var(--border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: transparent;
}

.form__searchBtn {
  height: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
  border-left: none;
  padding-right: 10px;
  cursor: pointer;
}

.header__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__btn {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}

.header__btn:hover {
  background-color: var(--btn-hover-color);
}

#header__btn--createAccount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__avatar {
  position: relative; /* relative for profile dropdown */
}

.sb-avatar:hover {
  cursor: pointer;
}

/* PROFILE DROPDOWN */
.profileDropdown__container {
  position: absolute; /*relative to header__avatar*/
  top: 40px;
  right: 10px;

  border: 1px var(--border-color) solid;
  border-radius: 5px;
  width: 250px;
  height: auto;

  background-color: white;
  z-index: 100;
}

.profileDropdown__list {
  padding: 5px;
}

.profileList__item {
  padding: 20px;
  border-radius: 5px;
}

.profileList__item:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.main {
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.main__container {
  width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- BANNER ----- */

.main__banner {
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 10px;
}

.banner__title {
  font-size: 35px;
  text-align: center;
}

.banner__img {
  display: block;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

/* ----- MAIN CONTENT AND SIDEBAR ----- */
.main__contents {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 20px;
}

.main__sidebar {
  border-radius: 10px;
}

.sidebar__tagList {
  list-style-type: none;
  padding-left: 0;
}

.tag__item {
  padding: 10px;
  border-radius: 5px;
}

.tag__item:hover {
  background-color: var(--btn-hover-color);
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar__tags {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  height: 300px;
}

.main__groupList {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.group__card {
  border-radius: 10px;
  height: auto;

  margin-bottom: 20px;

  padding: 30px 20px;

  box-shadow: 5px 5px 20px 3px #dddddd;
  background-color: white;

  display: grid;
  grid-template-rows: 1 2 1;
}

.group__lang {
  width: auto;
  max-height: 30px;
  margin-right: 5px;
}

.group__title {
  font-weight: bold;
  font-size: 20px;
}

.group__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.group__icons > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

/* SIGN UP FORM */
.form-page {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50vw;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 30px;

  background-color: white;
}

.form-title {
  text-align: center;
}

.input-container {
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container:first-child {
  margin-top: 0px;
}

.input-container > input,
.form-alert.alert__error {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.form-btn {
  background: var(--form-btn-color);
  width: 100%;
  margin-top: 15px;

  padding: 10px 0;
  border-radius: 5px;
  border: none;

  font-size: 17px;
}

.form-btn:disabled {
  /* background: var(--form-btn-color);
  width: 100%;
  margin-top: 15px;

  padding: 10px 0;
  border-radius: 5px;
  border: none;

  font-size: 17px; */

  color: var(--btn-disabled-color);
}

.form-alert.alert__error {
  color: var(--alert-text-color-danger);
  background-color: var(--alert-background-color-danger);
  padding: 10px;
  border: transparent;
}

/* ----- ADDPOST page ----- */
.addPost-container {
  /* border: 1px solid black; */
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.addPost-wrapper {
  /* border: 1px solid orange; */
  width: 80vw;
  height: 80vh;

  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textEditor-title__input {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  border-style: none;
  border-bottom: 1px solid grey;
}

.textEditor-title__input:focus {
  outline: none;
  caret-color: grey;
}

.tag-wrapper {
  /* border: 1px solid green; */
  margin-top: 20px;
}

.textEditor-wrapper {
  width: 100%;
  display: grid;
  justify-items: stretch;
  margin-top: 20px;
}

.ql-toolbar,
.ql-container {
  width: 100%;
}

.addPost-btn button {
  width: 80vw;
}

/* ----- PROJECT DETAILS PAGE ----- */
.projectDetail-container {
  background-color: var(--bg-color);
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.projectDetail-wrapper {
  width: 80vw;
  height: auto;
  padding: 0 20px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: white;
}

.projectDetail-back:hover {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.projectDetail-header-box {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 28px;
}

.projectDetail-header-text {
  margin: 0;
  padding: 10px 0;
}

.projectDetail-meta-box__createdAt,
.projectDetail-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.projectDetail-tag-text {
  margin-top: 0;
}

.projectDetail-singleTag {
  background-color: var(--border-color);
  padding: 10px;
  margin-right: 10px;
  border-radius: 15px;

  font-size: 18px;
}

.projectDetail-content-box {
  margin: 20px 0;
}

.projectDetail-actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.projectDetail-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.projectDetail-actionBtns > .projectDetail-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.projectDetail-btn__heart,
.projectDetail-btn__save {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: violet;
  border-radius: 50%;
}

.btn-counter {
  margin-left: 10px;
}

.editBtn {
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: none;
}

.editBtn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
  border: none;
}

/* ----- MY PROFILE PAGE ----- */
.myProfile-container {
  width: 100vw;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.myProfile-wrapper {
  width: 60vw;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.myProfile-image,
.myProfile-name,
.myProfile-resetPassword {
  border: 1px solid brown;
}

.image-display {
  display: flex;
  flex-direction: row;
}

.image-updated {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.image-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

/* test */
@media screen and (max-width: 729px) {
}

@media screen and (max-width: 480px) {
}
