:root {
  --btn-hover-color: #e1dfff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  /* 990px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
}

.header__container {
  width: 990px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-size: 20px;
}

.header__form {
  height: 30px;
  display: flex;
  justify-content: center;   
}

.form__search {
  height: auto;
  padding-left: 10px;
}

.form__searchBtn {
  height: auto;
  border: 1px solid black;
  border-left: none; 
  cursor: pointer;
}

.header__btn {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}

.header__btn:hover {
  background-color: var(--btn-hover-color);
}

#header__btn--login {
  margin-left: 10px;
}

.main {
  width: 100vw; 
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.main__container {
  width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 


.main__banner {
  
  width: 100%;
  margin-top: 20px; 

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 10px;
}

.banner__img {
  display: block;
  max-width: 400px;
  height: auto;
}

.main__contents {
  width: 100%; 
  display: grid; 
  grid-template-columns: 20% 80%;
  margin-top: 20px;
}

.main__sidebar {
  border: 1px solid black;
  border-radius: 10px;
}

.sidebar__tags {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  height: 300px;
}

.main__groupList {
  
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.group__card {
  border-radius: 10px;
  height: 200px;
  
  margin-bottom: 20px; 

  padding: 30px 20px;

  box-shadow: 5px 5px 20px 3px #dddddd;
  background-color: white;

  display: grid;
  grid-template-rows: 1 2 1;

}

.group__lang {
  width: auto;
  max-height: 30px;
  margin-right: 5px;
}

.group__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.group__icons>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

/* test */
@media screen and (max-width: 729px) {}

@media screen and (max-width: 480px) {}